<ion-header>
  <ion-navbar>
    <ion-title>On The Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <h3 text-center *ngIf="loadOnTheMenu().length === 0">
      Nothing on the menu yet
    </h3>
    <ion-item-sliding *ngFor="let menuItem of loadOnTheMenu(); let i = index">
      <ion-item>
        <ion-label>{{menuItem.name}}</ion-label>
      </ion-item>
      <ion-item-options>
        <button
          (click)="addToFavorites(favorite.name, i)"
          ion-button
          color="primary"
          icon-start
        >
          <ion-icon name="heart-outline"></ion-icon>
          Add Favorite
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab mini (click)="captureMenuItem()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
